@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root
{
    --theme: #0e5292;
    --theme2: #009fe3;
    --white: #ffffff;
    --lightgrey: lightgrey;
    --grey: grey;
    --text: #303030;
    --trnp: #80808027;
    --border: 1px solid var(--lightgrey);
}
*
{
    margin: 0px;
    color: var(--text);
    font-family: "Poppins", sans-serif;
    transition: all .2s;
    cursor: default;
    padding: 0px;
    user-select: none;
}
hr
{
    width: 100%;
    opacity: .5;
}
svg
{
    height: 20px;
}
select:-webkit-autofill , input:-webkit-autofill{
    transition: background-color 5000000s ease-in-out 0s !important;
}
.btn
{
    background-color: var(--theme2);
    border: none;
    color: var(--white);
    width: 100%;
    font-weight: 500;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
}
.btn:hover
{
    background-color: var(--theme);
}
